*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
font-size: 62,5%;
/* 1rem pase a valer a 10px. Por defecto el navegador aplica 16px */
}

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');


/* PALETA
COLORHEADER   #BB8082 #0378A6
COLORFOOTER   #046582 #0378A6
COLORMAIN     #F2EDD7 #F2F2F2
COLORh1       #fc673a #D9AA52
COLORp y td   #8c013e 
COLORh2       #845460 
COLORbotones          #013b52
*/


/*ESTILOS GENERALES*/
/* header */
.header__navbar{
    background-color: #0378A6;
    height: 23vh;
    width: 100%;
    font-size: 150%;
    padding: 0% 0.625rem;
}
.header__contenedor__menu__item{
    background-color: #0378A6;
    padding-left: 0.625rem;
}
.header__contenedor__logo{
    width: 5rem;
    height: 5rem;
}
header{
    width: 100%;
}
.tips__fontstyle{
    font-style: italic;
}


/* body */
p{
    font-size: 120%;
    line-height: 1;
    color: #8c013e;
}
body{
    font-family: 'Heebo', sans-serif;;
    position: relative;
}

/* main */
h1{
    color: #D9AA52;
    font-size: 2.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 100%;
}
h2{
    color:#845460;
    font-size: 170%;
    font-style: italic;
}
main{
    padding: 6.25rem 2.5rem;
    height: auto;
    background-color: #F2F2F2;
}

/* footer */
.footer{
background-color: #0378A6;
}
.social{
    color: white;
}
.footer div{
    padding: 0.3125rem;
}
.footer__copyright p{
    color: #fc673a;
}



/* ESTILO PAGINAS */
 /* INDEX */

.inicio__fila__introduccion p{
    font-size: 170%;
    line-height: 1.4;
    font-style: italic;
    padding-top: 1rem;
    text-align:left;
}
.inicio__fila__introduccion h1{
    letter-spacing: 0.5rem;
    font-size: 220%;
}
.inicio__fila__introduccion{
width: 28.125rem;
margin: 0 0.625rem;
}
.inicio__fila{
    display: flex;
    justify-content: center;
}
.inicio__fila__img{
    width: 31.25rem;
    margin: 0 0.625rem;
}

/* DESTINOS */
.destinos__lugares p{
    line-height: 30px;
    width: 85%;
}
.destinos__h2{
    margin-top: 40px;
    letter-spacing: 2px;
}
.destinos{
    margin-left: 20px;
}

/*GALERIA*/

.galeria__carousel{
    width: 37.5rem;
    height: 28.125rem;
    display: block;
}
.galeria__carousel2{
    width: 37.5rem;
    height: 28.125rem;
}
.galeria__carousel3{
    width: 37.5rem;
    height: 28.125rem;
}
.galeria__carousel__foto img{
    width: 37.5rem;
    height: 28.125rem;
}
.galeria__carousel__foto{
    width: 100%;
    height: 31.25rem;
}
.galeria__introduccion{
    margin: 1.25rem;
}
.galeria{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.carousel__p{
    margin-top: 30px;
}

/*TIPS*/

.tips__section{
    display: flex;
    justify-content: center;
    margin-top: 1.25rem;
}
.tips__section__div{
    height: auto;
    text-align: center;
    border-radius: 5%;
    margin: 0.3125rem;
    padding: 0.625rem;
}
.tips__section__div p{
    line-height: 25px;
}
.tip-1 {
background-color: #F6D7A7; }

.tip-2 {
background-color: #C8E3D4; }

.tip-3 {
background-color: #FF5DA2; }

.tip-4 {
background-color: #99DDCC; }

.tip-5 {
background-color: #87AAAA; }

.tip-6 {
background-color: #F4A442; }

/*CONTACTO*/

form{
    width: 28.125rem;
    margin:auto;
    background:rgba(0,0,0,0.1);
    padding: 0.625rem 1.25rem;
    margin-top: 1.25rem;
}
.contacto__titulo{
    text-align: center;
    margin-bottom: 1.25rem;
}
.contacto__input{
width: 100%;
margin-bottom: 1.25rem;
padding:0.4375rem;
font-size: 1.0625rem;
}
.contacto__textarea{
width: 100%;
margin-bottom: 1.25rem;
padding:0.4375rem;
font-size: 1.0625rem;
min-height: 6.25rem;
max-height: 12.5rem;
max-width: 100%;
}
.contacto__boton{
width: 100%;
background: #013b52;
color: white;
margin-bottom: 1.25rem;
padding:0.4375rem;
}


/* ERROR 404 */
.error__body{
    background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
}
.error__mensaje{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
.error__mensaje__container{
    text-align: center;
    color: white;
}
.error__mensaje__container p{
    font-size: 1.125rem;
}
.animated{
    margin: 0px;
    font-size: 5rem;
    animation-duration: 2.5s;
    animation-fill-mode:both;
    animation-iteration-count: infinite;
}
@keyframes bounce{
    0%,20%,50%,80%,100%{transform: translateY(0);}
    40%{transform: translateY(-30px);}
    60%{transform: translateY(-15px);}
}
.bounce{
    animation-name: bounce;
}
.footer__error{
    display: flex;
    align-items: center;
    min-height: 6.25rem;
    width: 100%;
}
.footer__error a{
    color: white;
    font-size: 0.875rem;
    padding-left: 1.875rem;
    text-decoration: none;
}

/* MEDIA QUERIES */
@media screen and (max-width:440px){
form{
    width: 100%;
}
h1{
font-size: 100%;
}
.destinos__table{
    width: 100vh;
}
}
@media screen and (max-width:800px) {
    .inicio__fila__introduccion{
        margin-top: 1.25rem;
        width:100%;
    }
    .inicio__fila__img{
        width: 100%;
    }
    .galeria__fotos{
        transition: none;
    }
}
