@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62,5%; }

p {
  font-size: 120%;
  line-height: 1;
  color: #8c013e; }

body {
  font-family: "Heebo", sans-serif;
  position: relative; }

.navbar {
  background-color: #BB8082;
  height: 23vh;
  width: 100%;
  font-size: 150%;
  padding: 0% 0.625rem; }

.header {
  width: 100%; }
  .header__contenedor__logo {
    width: 4.375rem;
    height: 4.375rem; }
  .header__contenedor__menu__item {
    background-color: #BB8082;
    padding-left: 0.625rem; }

h1 {
  color: #fc673a;
  font-size: 250%;
  letter-spacing: 0,125rem;
  text-transform: uppercase; }

h2 {
  color: #845460;
  font-size: 170%; }

main {
  padding: 6.25rem 2.5rem;
  height: auto;
  background-color: #F2EDD7; }

.footer {
  background-color: #046582; }
  .footer div {
    padding: 0.3125rem; }

.social {
  color: white; }

.footer__copyright p {
  color: #8c013e; }

.inicio__fila {
  display: flex;
  justify-content: center; }
  .inicio__fila__introduccion {
    width: 25rem; }
    .inicio__fila__introduccion p {
      font-size: 140%; }

.destinos__table {
  padding: 1.25rem;
  font-size: 120%; }

td {
  color: #8c013e;
  font-size: 120%; }

.carousel {
  width: 37.5rem;
  height: 28.125rem; }

.carousel-item {
  width: 100%;
  height: 500px; }
  .carousel-item img {
    width: 37.5rem;
    height: 28.125rem; }

.galeria__introduccion {
  margin: 1.25rem; }

.galeria {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  .galeria__fotos {
    padding: 0.625rem;
    width: 31.25rem;
    height: 21.25rem;
    transition: 1.5s; }
    .galeria__fotos:hover {
      transform: scale(1.3); }

.tips__section {
  display: flex;
  justify-content: center;
  margin-top: 1.25rem; }
  .tips__section__div {
    height: auto;
    background-color: #EAD3CB;
    text-align: center;
    border-radius: 5%;
    margin: 0.3125rem; }

.tip-1 {
  background-color: #F6D7A7; }

.tip-2 {
  background-color: #C8E3D4; }

.tip-3 {
  background-color: #FF5DA2; }

.tip-4 {
  background-color: #99DDCC; }

.tip-5 {
  background-color: #87AAAA; }

.tip-6 {
  background-color: #F4A442; }

form {
  text-align: center; }

label {
  font-size: 140%;
  color: #845460; }

.contacto {
  display: flex;
  align-content: center;
  justify-content: center; }
  .contacto div {
    padding-top: 0.625rem; }
