form{
    width: 28.125rem;
    margin:auto;
    background:rgba(0,0,0,0.1);
    padding: 0.625rem 1.25rem;
    margin-top: 1.25rem;
}
.contacto{
    &__titulo{
        text-align: center;
        margin-bottom: 1.25rem;
    }
    &__input{
        width: 100%;
        margin-bottom: 1.25rem;
        padding:0.4375rem;
        font-size: 1.0625rem;
    }
    &__textarea{
        width: 100%;
        margin-bottom: 1.25rem;
        padding:0.4375rem;
        font-size: 1.0625rem;
        min-height: 6.25rem;
        max-height: 12.5rem;
        max-width: 100%;
    }
    &__boton{
        width: 100%;
        background: $color-btn;
        color: white;
        margin-bottom: 1.25rem;
        padding:0.4375rem;
    }
}
@media screen and (max-width:440px){
    form{
        width: auto;
    }
}