form{
    text-align: center;
}
label{
    font-size: 140%;
    color: $color-h2;
}
.contacto{
    display: flex;
    align-content: center;
    justify-content: center;
    div{
        padding-top: 0.625rem;
    }
}