.navbar{
    background-color: $color-header;
    height: 23vh;
    width: 100%;
    font-size: 150%;
    padding: 0% 0.625rem;
}

.header{
    width:100%;
    &__contenedor{
        &__logo{
            @include sizes(4.375rem,4.375rem);
        }
        &__menu{
            &__item{
                background-color: $color-header;
                padding-left: 0.625rem;
            }
        }
    }
}