$color-header:#0378A6;
$color-footer: #0378A6;
$color-main: #F2F2F2;
$color-h1: #D9AA52;
$color-p: #8c013e;
$color-h2: #845460;
$font-body: 'Oswald', sans-serif;;
$font-hyf: 'Lobster', cursive;
$color-detalle: rgb(250, 205, 6);
$color-info:#d4ad42;
$color-btn:#013b52;

@mixin sizes($width,$height){
    width: $width;
    height: $height;
}