*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62,5%;
}

    @import "variables";
    @import "body";
    @import "header";
    @import "main";
    @import "footer";
    @import "index";
    @import "destinos";
    @import "info";
    @import "tips";
    @import "contacto";
    